//
//  _grid.scss
//

//container
.container {
	display:block;
	box-sizing:border-box;
	margin:0 auto;
	max-width:auto;
}

@media only screen and (min-width: 0px) and (max-width: #{$md-breakpoint}) {
	.container {
		padding: 0 20px;
	}
}

@media only screen and (min-width: #{$md-breakpoint}) and (max-width: #{$lg-breakpoint}) {
	.container {
		padding: 0 20px;
	}
}



@media only screen and (min-width: #{$xl-breakpoint}) {
    .container {
    	padding: 0 20px;
        max-width: $xl-max;
    }
}

//frame
.frame {
	position:relative;
	display:block;
}

.frame:before,
.frame:after {
	content: " ";
	display: table;
}

.frame:after {
	clear:both;
}

//blocks
[class*="block-"] {
	position:relative;
	box-sizing:border-box;
	float:left;
	width:100%;
	overflow:visible;
}

@media only screen and (min-width: 0px) and (max-width:#{$md-breakpoint}) {
	[class*="block-"] {
		padding: 0 $sm-gutter;
	}

	/* Stubborn 'sm' block classes */
	@for $i from 1 through $block-count {
		.block-sm-#{$i} {
			width:percentage($i / $block-count) !important;
		}

		.push-sm-#{$i} {
			margin-left:percentage($i / $block-count) !important;
		}

		.pull-sm-#{$i} {
			margin-left:-(percentage($i / $block-count)) !important;
		}
	}
}

@media only screen and (min-width: #{$md-breakpoint}) and (max-width:#{$lg-breakpoint}) {
	[class*="block-"] {
		padding: 0 $md-gutter;
	}
	/* Stubborn 'md' block classes */
	@for $i from 1 through $block-count {
		.block-md-#{$i} {
			width:percentage($i / $block-count) !important;
		}

		.push-md-#{$i} {
			margin-left:percentage($i / $block-count) !important;
		}

		.pull-md-#{$i} {
			margin-left:-(percentage($i / $block-count)) !important;
		}
	}
}

@media only screen and (min-width: #{$xl-breakpoint}) {
	[class*="block-"] {
		padding: 0 $xl-gutter;
	}
	/* Stubborn 'xl' block classes */
	@for $i from 1 through $block-count {
		.block-xl-#{$i} {
			width:percentage($i / $block-count) !important;
		}

		.push-xl-#{$i} {
			margin-left:percentage($i / $block-count) !important;
		}

		.pull-xl-#{$i} {
			margin-left:-(percentage($i / $block-count)) !important;
		}
	}
}
